/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

nav {
	background-color: #ffffffa8;
	width: 100%;	
	padding: 7px 0 7px 0; 
}

nav ul { 
	display: flex;
	justify-content: center;
	list-style-type: none;
}

nav ul img {
	width: 6%;
}


